html,
body {
  background-color: blanchedalmond;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 300px;
    position: absolute;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 20%;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: 'Lekton', sans-serif;
}
